.modal__header_mob, .modal__header_mob__btn{
  display: none;
}
.modal__header_desk{
  display: block;
}

.tooltip_div {
  position: fixed;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
  background-color: #2E3156;
  color: white;
  height: 30vh;
  max-height: 30vh;
  min-width: 50vw;
  z-index: 9999;
  padding: 30px;
  border-radius: 20px;
}
.tooltip_div_internal {
  max-height: 23vh;
  overflow-y: auto;
  text-align: justify;
  padding-bottom: 10px;
}
.tooltip_div_internal p{
  color: white !important;
}
.tooltip_div_internal::-webkit-scrollbar {
  width: 0.5rem;
}
 
.tooltip_div_internal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.tooltip_div_internal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.close_tooltip {
  color: #fff;
  top: 5px;
  right: 20px;
}
.readMore {
  position: relative;
  display: inline-block;
  font-style: normal !important;
  font-weight: 800;
}

.close {
  color: #2E3156;
  background-color: transparent;
  position: absolute;
  height: 25px;
  width: 23px;
  top: 40px;
  right: 30px;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #333;
}
.close:hover,
.close:focus {
  color: white;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  outline: none;
}

.close_tooltip {
  color: #fff;
  top: 5px;
  right: 20px;
}

  :root {
    --bg-water: #cbd5ed;
    --bg-fire: #edc2c4;
    --bg-grass: #c0d4c8;
    --bg-psychic: #ddc0cf;
    --bg-ghost: #d7c2d7;
    --bg-ground: #f4d1a6;
    --bg-fighting: #fcc1b0;
    --bg-dragon: #cadcdf;
    --bg-fairy: #e4c0cf;
    --bg-electric: #e2e2a0;
    --bg-bug: #c1e0c8;
    --bg-poison: #cfb7ed;
    --bg-dark: #c6c5e3;
    --bg-steel: #c2d4ce;
    --bg-normal: #ddcbd0;
    --bg-rock: #c5aea8;
    --bg-ice: #c7d7df;
    --bg-flying: #b2d2e8;
    --bg-unknown: #c0dfdd;
    --bg-shadow: #cacaca;
  }

  .modal_parent{
    background-color: #deeded;
    border-radius: 0.5rem;
    border: 4px solid #deeded;
  }

  .enabled_color{
    padding: 0 6px;
    margin: 0 2px;
    border: 1px solid #2E3156;
    border-radius: 4px;
    width: auto !important;
    margin-bottom: 4px;
  }

  span.modal__headaer__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: #2E3156;
    padding-left: 1rem;
}
.modal__headaer__title:after, .modal__header__id:after {
  content: "|";
  margin: 0 18px;
  font-weight: 400;
  color: #5D5F7E;
}

.modal__header__id {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color: #2E3156;
}

.modal__first_container button.btn-close {
  margin-left: 1rem;
}

.modal__description{
  padding: 1rem 0rem 2rem 1rem;
  display: inline-block;
  vertical-align: middle;
}
.modal__description span{
  color:#2E3156;
}
.mini__header{
  font-weight: 700;
  color: #2E3156;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.close__btn {
  background-color: transparent;
  position: absolute;
  height: 25px !important;
  width: 23px !important;
  top: 40px;
  right: 30px;
  font-size: 15px;
  border-radius: 50% !important;
  border: 1px solid #333 !important;

}

.close__btn__modal {
  position: absolute;
  height: 25px !important;
  width: 23px !important;
  color: white !important;
  top: 18px;
  right: 10px;
  font-size: 15px;
  border-radius: 50% !important;
  border: 2px solid white !important;
  background-color: #c3c3cd !important;

}

.close__btn:hover,
.close__btn:focus {
  color: white;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  outline: none;

}

@media only screen and (max-width: 1023px){

  .modal__header_mob{
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .modal__header_mob__btn{
    display: block;
    position: absolute;
    top: -1rem;
    right: 0;
  }
  .modal__header_desk{
    display: none;
  }

  .modal__first_container{
    padding-top: 5rem;
  }
  .close__btn {
    height: 20px !important;
    width: 20px !important;
    font-size: 12px;
}
  
  .modal__headaer__title , .modal__header__id{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #2E3156;
  }
  .modal__headaer__title{
    padding-left: 0 !important;
  }
  .modal__headaer__title:after {
    display: none;
  }
  .modal__header__id:after {
    display: none;
  }
  .modal__first_container__desp{
    padding: 0 !important;
  }
  .modal__description span{
    font-size: 14px;
  }
  .modal__description{
    padding: 0;
  }

  .tooltip_div {
    position: fixed;
    left: 50%;
    top: 64%;
  }

  .tooltip_div {
    max-height: 50vh;
    padding: 1rem;
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: white !important;
  }
  .tooltip_div_internal {
    max-height: 43vh;
  }
}